body {
  font-family: canada-type-gibson, Arial, Helvetica, sans-serif;
}

a {
  color: #50C1E9;
  cursor: pointer;
}

b, strong {
  font-weight: 600;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-weight: 600;
}

h4, h5, h6, .h4, .h5, .h6 {
  font-weight: 400;
}

a:link, a:visited {
  color: #50C1E9;
}

a:hover {
  color: #40BA92;
  border-bottom: 0.1rem solid #40BA92;
}

.site-title {
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
  font-size: 3.998em;
  color: #40BA92;
}

.site-title-lower-case {
  text-transform: none;
  font-family: "Righteous", sans-serif;
  font-size: 3.998em;
  color: #40BA92;
}

.stamp-small {
  color: #F5F7Fa;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  letter-spacing: 0.05em;
  display: inline-block;
}

.stamp {
  color: #F5F7Fa;
  padding: 0.25em 0.5em;
  display: inline-block;
}

.stamp-green {
  background-color: #40BA92;
}

.stamp-dark {
  background-color: #454754;
}
